<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-card class="home-card">
    <mat-card-content>
      <div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <h1>
                Questions
              </h1>
            </div>
            <div class="col-md-6 text-right">
              <button mat-raised-button (click)="createQuestion()" class="blue-bg white">Add
                Question</button>
            </div>
          </div>
        </div>
        <hr>
        <br>

        <div *ngIf="dataSource.length; else spinner" class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Topic Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Description</strong> </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> <strong>Action</strong> </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <button class="plain" (click)="onEdit(element.id, element.description, element.topicId)"><mat-icon
                    class="blue" matTooltip="Edit">edit</mat-icon></button>
                <button class="plain" (click)="onDelete(element.id, element.description)"><mat-icon class="red"
                    matTooltip="Delete">delete</mat-icon></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <!-- Paginator -->
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

        <ng-template #spinner>
          <div class="spinner-container text-center">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>

        <br>

        <button mat-raised-button [routerLink]="['/topics', 'list']">Topics</button>
        <button mat-raised-button [routerLink]="['/questions']">Questions</button>
        <button mat-raised-button [routerLink]="['/answers']">Answers</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>