<div class="row">
  <div class="col-md-12">
    <h2>
      Add Topic
    </h2>
    <div class="form-container">
      <mat-form-field>
        <textarea matInput placeholder="Topic Title" [formControl]="topic"></textarea>
        <mat-error *ngIf="topic.hasError('required')">
          This field is required.
        </mat-error>
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-button mat-raised-button (click)="onSubmit()" class="blue-bg white"
          [disabled]="topic.invalid">Submit</button>
        <button mat-button mat-raised-button (click)="onNoClick()" class="red-bg white">Cancel</button>
      </div>
    </div>
  </div>
</div>